<style type="text/css">
        body{ 
            font: 16px Arial, sans-serif bold;
            background-image: url("back1.jpg");
            height: 100%;
            background-size: cover;
             }
        .wrapper{width: 450px;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px; }

</style>